.div2 {
	width: 100%;
  height: 20px;
}

.div2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#transparencia{
  border-radius: 10px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

.titulo{
  padding-top: 20px;
}

a.scrollNavigation[href="#bottom"] {
  bottom: 5px;
}

.scrollNavigation{
  color: white;
}

hr.hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
}

.imagen{
  border: 5px solid rgb(0, 0, 0);
  width:100%; display:block; 
  height:100%;
}

.padre {
  border-top:  5px solid rgba(0, 23, 53, 0.5);
  background:rgba(23, 255, 236, 0.8);
  color: black;
  /*IMPORTANTE*/
  
  font-size: 4rem;
}

.fecha{
  margin-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 40%;
  font-size: 20px;
}

.hijo {
  color: black;
}

#inicio1 {
  height: 100vh;
  background: url(../img/fondo.png) top center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #inicio1 {
    background-attachment: fixed;
  }
}

#inicio1:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
}

#inicio1 .inicio1-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


#inicio1 .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#inicio1 .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

